body{
    text-align: center;
    background-size: cover;
}
#header{
    width: 100%;
    margin: 0;
}
#note{
    color: black;
}
canvas{
    border: solid white 2px;
    box-shadow: 5px 5px 5px gray;
    border-radius: 10px;
}
